{% extends "base.html" %} {% block content %}
<div class="page-header">
  <h1>WokeyBot</h1>
  
  <a href="/redirect.php"><img src="/images/wokey-bot-head-small.png" alt="WokeyBot"></a>
  <p class="lead">
    I am WokeyBot.<br>I will block Twitter 'Wokeys' for you...<br>It's Fast, Painless & Free<br>
  </p>
 <h5>#BlockWokeys<br>#WokeyBot<br>#WokeyLeaks<br>@realWokeyLeaks<br></h5>
</div>











<h5>Click on my head to proceed (or Sign-in with Twitter on top right corner)</h5>
<h6>* No Unicorns were harmed making this bot.</h6>
</p>

{% endblock %}
