{% extends "base.html" %} {% block content %}
<div class="page-header">
  <h1>WokeyBot</h1>
  <p class="lead">
    I am WokeyBot. I am your friend. I will block all the Twitter Wokeys for you! Fast, Painless & Free!!!
  </p>
</div>

<h2>
  This is H2 text. Make it simple.
</h2>

<h4>This is a H4 </h4>

<p>
  This is a p tag within h4
  <a href="https://google.com">TextForGoogleLink</a>. Setup require in your
  projects composer.json file. Latest release:
  </a>
</p>

<h3>Media</h3>
<p>
  Upload images using
  <a
    href="https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/post-statuses-update.html"
    >POST media/upload</a
  >.
</p>

<h2>Related projects</h2>

<h3>&lt;twitter-user&gt; Web Component</h3>
<p>
  If you are looking for an easy way to render user profiles on websites, check
  out <a href="https://github.com/abraham/twitter-user">twitter-user</a>.
</p>

<twitter-user user="{{ json_user }}"></twitter-user>

<h3>&lt;twitter-status&gt; Web Component</h3>
  .
</p>

{% endblock %}
