{% extends "base.html" %} {% block content %}
<style type="text/css">
  .center {text-align: center; border: 3px solid #1DA1F2;}
</style>
<div class="center">
<h3>The next screen will authorize thw WokeyBot App to block over 100 Twitter Vox accounts.</h3><br>
  <h4> You may notice that many permissions are requested by the App, but we do <strong>not</strong> use them. <br>
    This app will <strong>not</strong> make any posts in Twitter. <br>
    The App just blocks the list of accounts for you. </h4>
<br>
<p>
  <a class="btn btn-primary" href="{{ url }}"
    > Click to Proceed </a>
</p>
  <img src="/images/wokey-bot-head-small.png"></img>
</div>
{% endblock %}
